page-por-categoria {

  ion-content {
    background-color: #000000 !important;
  }

  .precio {
    color: #8acbef;
  }
  .card-ios {
     margin: 0px;
     border-radius: 2px;
     width: calc(100% - 0px);
     font-size: 1.4rem;
     background: #000000;
     -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .card-title-ios {
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #8acbef;
    margin: 2px 0;
    padding: 8px 0;
 }

  .card-ios p {
     margin: 0 0 2px;
     font-size: 1.5rem;
     color: #ffffff;
  }

  .card-ios hr {
      border-top: 1px solid #8cc8f1;
  }

}
