page-carrito {

  ion-content {
    background-color: #000000 !important;
  }
  img {
    width: 100%;
  }
  .pcaract {
    color: white;
    padding-top: 0;
    margin-top: 0;
  }

  .precio {
    color: #8acbef;
  }

  hr {
      border-top: 1px solid #8cc8f1;
  }

  .wht {
    color: white;
  }
}
